*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    width: 99%;
    height: 100vh;
    position: relative;
    margin-left: 5px;

  }
  
  header {
    height: 65px;
    border: 3px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  nav {
    position: absolute;
    top: 90px;
    left: 0;
    width: 17%;
    height: 110vh;
    border: 3px solid black;
  }
  
  section {
    width: 81%;
    height: 45vh;
    float: right;
    border: 3px solid black;
    margin-top: 25px;
  }
  
  footer {
    width: 81%;
    height: 11vh;
    float: right;
    border: 3px solid black;
    margin-top: 25px;
  }
  
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 30px;
    padding-right: 30px;
  }
  
  input {
    margin-top: 20px;
    border: 3px solid black;
    padding: 5px;
    font-size: 15px;
  }
  
  button {
    margin: 20px;
    border: 3px solid black;
    padding: 5px;
    font-size: 15px;
    box-shadow: 4px 4px 1px black;
  } 

  button:hover{
    background-color: blue;
    color: white;
  }
